/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* GLOBAL */
:root {
    --main-color: #7857fe;
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d69c;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-alpha-100: rgba(0, 0, 0, 0.05);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    background-color: #ffffff;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

.sosmed {
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.fa {
    padding: 15px;
    font-size: 30px !important;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
}

.fa:hover {
    color: var(--black-400);
    text-decoration: none;
}

.fa-facebook {
    /* background: white !important; */
    color: white;
}


.fa-google {
    /* background: white; */
    color: white;
}

.fa-linkedin {
    /* background: white; */
    color: white;
}

.fa-instagram {
    /* background: white; */
    color: white;
}

img {
    margin-top: 20%;
    margin-left: 10%;
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

.btn-download {
    background-color: #fff !important;
    padding: 12px 30px !important;
    border: none !important;
    border-radius: 30px !important;
    color: var(--main-color) !important;
    font-size: 16px !important;
    text-transform: capitalize !important;
    transition: all 0.5s ease !important;
    box-shadow: var(--shadow-black-300) !important;
    font-weight: 700;
}

a {
    font-weight: 700;
}

.btn-download:focus {
    box-shadow: var(--shadow-black-300) !important;
}

.btn-download:hover {
    color: #fff;
    background-color: var(--main-color) !important;
}

@keyframes spin_01 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.home-btn {
    font-weight: 700;
}

.logo {
    max-width: 100px;

}

@keyframes bounceTop_01 {

    0%,
    100% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(0px);
    }
}

@keyframes pulse_01 {
    0% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.effect-wrap .effect {
    position: absolute;
    z-index: 99;
}

.effect-wrap .effect-1 {
    left: 50% !important;
    top: 50% !important;
    font-size: 80px !important;
    color: var(--color-1) !important;
    animation: spin_01 5s linear infinite;
}

/* NAVBAR */
.navbar {
    background-color: var(--main-color);
    padding: 20px;
}

.navbar>.container {
    padding: 0 15px;
}

.navbar .navbar-brand {
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;
}

.navbar .nav-item {
    margin-left: 40px;
}

.navbar .nav-item .nav-link {
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
    position: relative;
}

.navbar .nav-item .nav-link::before {
    content: '' !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    height: 1px !important;
    background-color: #fff !important;
    transition: all 0.5s ease !important;
    transform: scale(0) !important;
}

.navbar .nav-item .nav-link .active::before,
.navbar .nav-item .nav-link:hover::before {
    transform: (1);
}

/* Home section */
.home {
    min-height: 100vh;
    padding: 150px 0;
    background-color: var(--main-to-dark-color);
    position: relative;
    z-index: 1;
}

.home-text h1 {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 20px;
}

.home-text p {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin: 0;
    font-weight: 500;
}

.home .home-btn {
    margin-top: 40px;
}

.aboutme {
    margin-left: 3vh;
    animation: pulse_01 2s ease infinite;
}

.home-img img {
    max-width: 300px;
    width: 100%;
    box-shadow: var(--shadow-black-100);
    border-radius: 32px;
    animation: bounceTop_01 3s ease infinite;
    left: 50%;
}

.home-img {
    position: relative;

}


.home-img .circle {
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.home-img .effect-wrap .effect-1 {
    left: 50% !important;
    top: 50% !important;
    font-size: 80px !important;
    color: var(--color-1) !important;
    animation: spin_01 5s linear infinite;
}

.home-img .circle::before {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    left: 30px;
    top: 30px;
    transform-origin: 170px 170px;
    animation: spin_01 10s linear infinite;
}